{% extends 'base.html' %}

{% block content %}
    <center>
        <h2>Sign Up</h2>
        <hr>
        <form method="post" action="register_post/">
            {% csrf_token %}
            <label>Name:</label> &nbsp; <input type="text" name="name" required><br>
            <br>
            <label>Email-id:</label> &nbsp; <input type="text" name="email" required><br>
            <br>
            <label>UserName:</label> &nbsp; <input type="text" name="un" required><br>
            <br>
            <label>Password:</label> &nbsp; <input type="password" name="pwd" required><br>
            <br>
            <input class="btn btn-secondary" type="submit" value="Register ">
        </form>
    </center>

{% endblock %}