<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>
        function disp() {
            var div = document.getElementById('div1');
            div.style.display = "block";
            document.getElementById('btn1').style.display = "none";
        }

    </script>

    <title>Home</title>


</head>
<body>
<div class="container-fluid">


    <h1 style="color: darkcyan">LMS</h1>
    <hr>
    <%
    if(session){

    %>


    <div style="position: absolute;left: 1120px;top: 18px">

        <span style="color: darkcyan">Signed in as: <b><%= un %></b></span>
    </div>

    <div style="position: absolute; left: 1300px; top:15px">

        <a href="/logout">
            <button class="btn btn-primary"> Logout</button>
        </a>
    </div>
    <div class="container-fluid" id="btn1">
        <button class="btn btn-secondary" onclick="disp()">Start Test</button>
    </div>
    <br>
    <br>
    <div class="container" id="div1" style="display: none;position: absolute;top: 80px;">

        <form method="post" action="/startTest">
            <b>
                <br>
                <label class="dropper-form-label">Enter test Id:</label>
                <input type="text" name="tid" required> <br>
            </b>
            <br>
            <input type="submit" class="btn btn-primary">
        </form>

    </div>

    <%
    }else{
    %>
    <div style="position:absolute; left:1200px; top:15px;">
        <a href="/signup">
            <button class="btn btn-primary">Register</button>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="/login">
            <button class="btn btn-primary">Login</button>
        </a>
    </div>
    <%
    }
    %>


    <br>
</div>

</body>
</html>
